setuptools
flask
sentry-sdk[flask]
pymysql

# graphql
graphql-core<3
graphql-server-core<2
graphene<3
flask-graphql
flask-sqlalchemy
graphene-sqlalchemy
six
Pillow

# i18
polib

# location
googlemaps
geopy
